@model IEnumerable<HastaneRezerv.Models.Aktiflik>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AktiflikId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Durum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AktiflikId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durum)
            </td>
            <td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.AktiflikId">Düzenle</a> |
                    <a class="btn btn-info " asp-action="Details" asp-route-id="@item.AktiflikId">Detaylar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.AktiflikId">Sil</a>
                </td>
            </td>
        </tr>
}
    </tbody>
</table>
