@model IEnumerable<HastaneRezerv.Models.Doktor>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>
 @if (TempData["hata"] is not null)
    {
        <div class="alert alert-danger">@TempData["hata"]</div>
    }
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TcNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnaBilimDali.AnaBilimDaliAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poliklinik.PoliklinikAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktiflik.Durum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           

            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TcNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnaBilimDali.AnaBilimDaliAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poliklinik.PoliklinikAdi)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aktiflik.Durum)
                </td>
            <td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.DoktorId">Düzenle</a> |
                    <a class="btn btn-info " asp-action="Details" asp-route-id="@item.DoktorId">Detaylar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DoktorId">Sil</a>
                </td>
            </td>
        </tr>
}
    </tbody>
</table>
