@model List<HastaneRezerv.Models.Randevu>

@{
    ViewData["Title"] = "Hastane Randevu Sistemi";
}
@if (TempData["hata"] is not null)
{
    <div class="alert alert-danger">@TempData["hata"]</div>
}



            <div class="container form-group mt-4 p-2 col-md-12">
                <h1>Hastane Randevu Sistemi</h1>

                <div id="randevu-saatleri">
                    @for (int saat = 9; saat < 17; saat++)
                    {
                        for (int dakika = 0; dakika < 60; dakika += 30)
                        {
                            var randevuSaat = $"{saat.ToString("00")}:{dakika.ToString("00")}";
                            var randevu = Model.FirstOrDefault(r => r.Tarih.ToString("HH:mm") == randevuSaat);

                            <div class="randevu-saati @((randevu != null && randevu.AktiflikId == 1) ? "randevu-dolu" : "")"
                         data-randevu-id="@randevu?.RandevuId ?? 0">
                                @randevuSaat
                            </div>
                        }
                    }
                </div>

    <form asp-action="Tamamla" asp-controller="Randevu" id="randevuForm" method="post">
        <div class="row">
            <div class="form-group .col-12 col-md-4">
                <label for="selectedTime">Seçilen Saat:</label>
                <input type="text" id="selectedTime" name="SelectedTime" class="form-control" readonly value="@ViewBag.SelectedTime" />
            </div>


            <div class="form-group col-12 col-md-4">
                <label for="SelectedDoktor">Seçilen Doktor:</label>
                <input type="text" id="SelectedDoktor" name="SelectedDoktor" class="form-control" readonly value="@((ViewBag.GetDoktor as SelectListItem)?.Text)" />
            </div>

            <div class="form-group col-12 col-md-4">
                <label for="SelectedTarih">Seçilen Tarih:</label>
                <input type="text" id="SelectedTarih" name="SelectedTarih" class="form-control" readonly value="@ViewBag.GetTarih" />
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-4 mt-2 d-flex justify-content-center align-items-center">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </div>
    </form>

    



@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const randevuSaatleriDiv = document.getElementById("randevu-saatleri");
            const selectedTimeInput = document.getElementById("selectedTime");

            // Sunucudan gelen randevuları işle
            const randevular = @Html.Raw(Json.Serialize(Model));

            randevuSaatleriDiv.addEventListener("click", function (event) {
                const clickedElement = event.target;
                if (clickedElement.classList.contains("randevu-saati")) {
                    const randevuSaat = clickedElement.innerText;
                    selectedTimeInput.value = randevuSaat;
                    alert(`Randevu saati seçildi: ${randevuSaat}`);
                }
            });

            randevular.forEach(randevu => {
                const randevuDiv = document.querySelector(`.randevu-saati[data-randevu-id="${randevu.RandevuId}"]`);

                if (randevuDiv) {
                    randevuDiv.classList.add("randevu-dolu");
                }
            });
        });
    </script>
}

<style>
.container {
    margin-top: 50px; /* Navbar ile boşluk bırakmak için üst margini ayarlayın */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



h1 {
    text-align: center;
    color: #333;
}

#randevu-saatleri {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.randevu-saati {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.randevu-dolu {
    background-color: #ff9999; /* Kırmızı arkaplan */
}

.randevu-saati:hover {
    background-color: #f0f0f0;
}

</style>













