@model IEnumerable<HastaneRezerv.Models.Randevu>

@{
    ViewData["Title"] = "Tamamla";
}

<h1>Tamamla</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.Doktor.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kullanici.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktiflik.Durum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                    @Html.DisplayFor(modelItem => item.Doktor.AdSoyad)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Kullanici.AdSoyad)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Aktiflik.Durum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarih)
            </td>
            
        </tr>
}
    </tbody>
</table>
